{"configSettings":[{"appID":"SharedServerToken","serverToken":"OH6XKE56WNCBOU7OOVCWABVEWENTRX6V"},{"appID":"7621d72b-7116-44b0-bb30-c252fafc3e61","serverToken":"OH6XKE56WNCBOU7OOVCWABVEWENTRX6V"},{"appID":"1727234757643392","serverToken":""},{"appID":"voiceSDK_en","serverToken":""},{"appID":"d35c968c-799e-468e-a192-a502a385c732","serverToken":"QCHJNHLKCPQZ2MCES6OBLQ44FZ2PF566"}]}