{"configSettings":[{"appID":"SharedServerToken","serverToken":"QCHJNHLKCPQZ2MCES6OBLQ44FZ2PF566"},{"appID":"7621d72b-7116-44b0-bb30-c252fafc3e61","serverToken":"QEXA6Z6MG4AGNKJNURM6SYO3PLBKMKVO"},{"appID":"1727234757643392","serverToken":""},{"appID":"voiceSDK_en","serverToken":""},{"appID":"d35c968c-799e-468e-a192-a502a385c732","serverToken":"QCHJNHLKCPQZ2MCES6OBLQ44FZ2PF566"}]}